
main {
    display: flex;
    justify-content: space-evenly;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--text-colour);
}

header p {
    font-size: 1.2em;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    margin: 30px;
}

.container>div {
    border: 3px solid black;
    background-color: aliceblue;
    height: 100px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    height: 100%;
    border-radius: 15px;

}

.tekstboks {
    border: 3px solid black;
    background-color: aliceblue;
    height: 100px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    align-items: center;
    height: 100%;
    border-radius: 15px;
    margin-top: 30px;
}

img {
    width: 80%
}

#boks1 {
    grid-column: 1 / 3;
    grid-row: 0 / 1;
}

#boks2 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

#boks6 {
    grid-column: 2 / 4;
}