* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --background-color: #2F284F;
    --secondary-background-color: #6157E1;
    --secondary-color: #374854;
    --text-colour: #4EB5A9;
    /* Bruk hvit som primer tekstfarge */
}

body {
    background-color: var(--background-colour);
    color: var(--tekst-colour);
}

