* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --background-color: #1c1539;
    --secondary-background-color: #6157E1;
    --secondary-color: #374854;
    --text-colour: #4EB5A9;
    /* Bruk hvit som primer tekstfarge */
}

body {                
    background-color: var(--background-colour);
    color: var(--tekst-colour);
   
}
header {
    background-color: var(--secondary-background-color);
    padding: 1rem;
    text-align: center;
    color: var(--secondary-color);
    position: sticky;
    top: 0;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
a {
    color: var(--text-colour);
    font-weight: bold;
}
a:hover {
    color: var(--secondary-color);
}

